@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Reset margin, padding and prevent overflow */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: #ffffff; /* Set default background to white */
  color: #000000; /* Optional: default text color */
}

/* Your custom hover effect */
.banner-img:hover {
  filter: blur(5px);
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Add more styles as needed */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-in-out;
}

/* For dropdown scrollbar */
.max-h-72 {
  max-height: 18rem;
}

/* Custom scrollbar */
.max-h-72::-webkit-scrollbar {
  width: 6px;
}

.max-h-72::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.max-h-72::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.max-h-72::-webkit-scrollbar-thumb:hover {
  background: #555;
}
